*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#111;
}

.navbar{
    background:black;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
    border-bottom:4px solid #d50000;
}

.navbar ul{
    display:flex;
    list-style:none;
    gap:30px;
}

.navbar li{
    cursor:pointer;
}

.hero{
    background:#1b1b1b;
    color:white;
    text-align:center;
    padding:70px;
}

.hero h1{
    color:#ff2b2b;
    font-size:55px;
}

.hero p{
    margin-top:20px;
    font-size:22px;
}

.hero button{
    margin-top:30px;
}

button{

    background:#d50000;
    color:white;
    border:none;
    padding:14px 28px;
    border-radius:5px;
    cursor:pointer;
    font-size:17px;
}

button:hover{

    background:#ff2b2b;

}

.videos{

    background:white;
    padding:60px;

}

.videos h2{

    text-align:center;
    margin-bottom:40px;
    color:#d50000;

}

.cards{

    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;

}

.card{

    width:320px;
    background:#fafafa;
    padding:30px;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,.2);
    text-align:center;

}

.card h3{

    margin-bottom:20px;

}

.card p{

    margin-bottom:20px;

}

footer{

    background:black;
    color:white;
    text-align:center;
    padding:25px;
    border-top:4px solid #d50000;

}
.formulario {
  background-color: #111;
  color: white;
  padding: 50px 20px;
  text-align: center;
}

.formulario h2 {
  color: #e60000;
  margin-bottom: 25px;
}

.formulario form {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formulario input {
  padding: 12px;
  border: 1px solid #333;
  border-radius: 6px;
  font-size: 16px;
}

.formulario button {
  background-color: #e60000;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.formulario button:hover {
  background-color: #b80000;
}